# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
publish/
public/
.hugo_build.lock
node_modules/

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# VS Code
.vscode/

# Azure Functions
local.settings.json

# Logs
*.log
nlog-*.log

# OS files
.DS_Store
Thumbs.db

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# Coverage
*.coverage
*.coveragexml
coverage/
